@mixin getFlex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin getStyle($color, $size) {
  color: $color;
  font-size: $size;
}
